@import '../../scss/variables.scss';

.menu {
  background: $darkBackground;
  color: $colorWhite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0.99;
}

.disable {
  display: none;
}

.active {
  border-bottom: 4px solid $colorWhite;
}
