@import '../../scss/variables.scss';

$colors: #fff, $redPurple, $yellow, $linkColor, $malachite;

$max: 4;
$stroke-step: 6%;
$stroke-space: 1%;
$stroke-time: 15s;
$stroke-time-step: $stroke-time / $max;

.text {
  fill: none;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: $stroke-step
    ($stroke-step * ($max - 1) + $stroke-space * $max);
  stroke-dashoffset: 0;
  -webkit-animation: stroke $stroke-time infinite linear;
  animation: stroke $stroke-time infinite linear;
  font-size: 10em;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(5n + #{$item}) {
      stroke: $stroke-color;
      animation-delay: -$stroke-time-step * $item;
    }
  }

  &:hover {
    background-color: white;
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

svg {
  position: absolute;
  width: 100%;
  height: 30%;
}
