@import '../../scss/variables.scss';

$bar-width: 50px;
$bar-height: 5px;
$bar-spacing: 12px;

.header {
  display: flex;
  justify-content: flex-end;
  background: $colorBlack;
  color: $colorWhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 5px;
  height: $headerHeight;
  z-index: $zIndexHeader;
}

.hamburger {
  position: relative;
  z-index: $zIndexHamburger;
}

.container {
  padding: 10px;
}

.icon {
  width: 28px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  cursor: pointer;
}

.icon span {
  display: block;
  position: absolute;
  height: 20%;
  width: 100%;
  background: $colorWhite;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: $zIndexHamburger;
}

.icon span:nth-child(1) {
  top: 0;
}

.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 40%;
}

.icon span:nth-child(4) {
  top: 80%;
}

.active {
  composes: icon;
  z-index: $zIndexHamburger;
}

.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.active span:nth-child(2) {
  transform: rotate(45deg);
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.active span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
