@import '../../scss/variables.scss';

.footer {
  display: flex;
  width: 100%;
  padding: 0px 30px 0px 30px;
  background-color: $darkBackground;
  color: $colorWhite;
  justify-content: space-between;
  align-items: center;

  li {
    display: inline-block;
    margin: 5px;
  }

  ul {
    margin: 0.5em;
  }
}

.icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.legal {
  vertical-align: middle;

  a:hover {
    color: $colorWhite;
  }
}
