@import '../../scss/variables.scss';

footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px 15px 30px;
  background-color: $darkBackground;
  color: $colorWhite;

  li {
    display: inline-block;
    margin: 5px;
  }
}

.icon {
  width: 1.5em;
  height: 1.5em;
}
.social {
  align-content: flex-end;
}
