@import '../../scss/variables.scss';

.tech {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  z-index: inherit;
  padding: 10px 15px;
  background-color: $yellow;
  font-family: 'Open Sans', sans-serif;
}

.techbox {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  animation: moveInTop 1s ease-out;

  h1 {
    font-size: 2em;
    transition: all 0.5s ease;
    animation: rotateHeading 1.5s ease-in;

    &:hover {
      text-shadow: 0.35vmin 0.35vmin 0 lighten($redPurple, 10);
    }
  }
}

.tags {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    font-size: 1em;
    margin: 2px;
    z-index: 0;
    text-align: center;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotateHeading {
  0% {
    -webkit-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
  }

  100% {
    -webkit-transform: skew(0) rotate(0);
    transform: skew(0) rotate(0);
  }
}
