@import '../../scss/variables.scss';

.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.techbox {
  margin: 10px;
  border: 2px solid $redPurple;
  border-radius: 5px;
  padding: 5px;
  width: 25%;

  h1 {
    font-size: 1.5em;
  }
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Fira Mono', monospace;

  li,
  a {
    float: left;
    height: 26px;
    line-height: 24px;
    position: relative;
    font-size: 1em;
    margin: 2px;
    z-index: 0;
  }
}
