$wrapperWidth: 120rem;
$headerHeight: 4.8rem;
$gutter: 2rem;
$columnCount: 12;

/* Colors */
$colorBlack: #000;
$colorWhite: #fff;

/* Z Index Scale */
$zIndexHeader: 2;
$zIndexMenu: 3;
$zIndexHamburger: 30;

$lightBackground: #efffe9;
$darkBackground: #011627;
$redHighlight: #e71d36;
$linkColor: #2ec4b6;
