$wrapperWidth: 1200px;
$headerHeight: 48px;
$gutter: 20px;
$columnCount: 12;

/* Colors */
$colorBlack: #000;
$colorWhite: #fff;

/* Z Index Scale */
$zIndexHeader: 2;
$zIndexMenu: 3;
$zIndexHamburger: 4;
