$wrapperWidth: 120rem;
$headerHeight: 4.8rem;
$gutter: 2rem;
$columnCount: 12;

/* Colors */
$colorBlack: #000;
$colorWhite: #fff;

/* Z Index Scale */
$zIndexHeader: 2;
$zIndexMenu: 3;
$zIndexHamburger: 30;

$lightBackground: #efffe9;
$darkBackground: #0c090d;
$redHighlight: #e71d36;
$linkColor: #2ec4b6;
$redPurple: #dc0073;
$yellow: #f5b700;
$green: #89fc00;
$malachite: #04e762;
$darkBlue: #011627;
$background: #252c36;
$textColor: #242729;

$springgeen: #45bb89;
$aegean: #3d82ab;
$bermuda: #91d4c2;
$nightsky: #003853;
